@media screen and (max-width: 950px) {
    .img1{
        margin-left:30%
    }
    .img2 {
        margin-left: 30%
    }
    .img3 {
        margin-left: 30%
    }
    .img5 {
        margin-left: 25%
    }

    .img4 {
        margin-left: 25%
    }
}
@media screen and (min-width: 950px) {
    .img1 {
        margin-left: 15%
    }

    .img2 {
        margin-left: 30%
    }

    .img3 {
        margin-left: 45%
    }
    .img5 {
        margin-left: 25%
    }
    .img4 {
        margin-left: 10%
    }
}
