@mixin border-radius($val){
    border-radius: $val;
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    -o-border-radius: $val;
}

@mixin rotate($val){
    -moz-transform:rotate($val);  
    -webkit-transform:rotate($val);  
    -o-transform:rotate($val);  
    -ms-transform:rotate($val); 
}

@mixin transition($val){
    -webkit-transition: $val;
    -moz-transition: $val;
    -o-transition: $val;
    transition: $val;
}

@mixin gradient($color1, $color2){
    background: $color2;
    background: -moz-linear-gradient(45deg, $color1 0%, $color2 100%);
    background: -webkit-linear-gradient(45deg, $color1 0%,$color2 100%);
    background: linear-gradient(45deg, $color1 0%,$color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 );
}


@mixin menu($val){
    .dropdown{
        a{
          padding-right: .5rem;
          padding-left: .5rem;
          font-size: 1.2em;
          cursor: pointer;
          margin-top: 5px;
          display: block;
    
        }
      }
      .dropdown-menu{
        padding: 15px;
        width: 330px;
        left: -220px;
      }
    
      .dropdown-toggle:after { content: none }
    
      .navbar{
        position: absolute;
        top: 0; 
        width: 100%;
      }
      .navbar-nav{
        li{
          .alerts{
            &:hover{
              font-weight: normal!important;
              @include gradient-animation($green, $blue);  
            }
          }

          .-message{
            position: relative;
            &:after{
              content: '';
              position: absolute;
              background-color: red;
              width: 10px;
              height: 10px;
              right: 4px;
              top: 0;
              display: block;
              @include border-radius(50%);
            }
          }

          .-bells{
            position: relative;
            &:after{
              content: '';
              position: absolute;
              background-color: red;
              width: 10px;
              height: 10px;
              right: 8px;
              top: 0;
              display: block;
              @include border-radius(50%);
            }
          }

          .nav-link{
            color: $gray;
            @include transition(.5s);
            &:hover{
              font-weight: bold;
            }
            &:after{
              display: block;
              content: attr(title);
              font-weight: bold;
              height: 0;
              overflow: hidden;
              visibility: hidden;
            }
          }
        }
      }
    
      .menu-mobile{
        font-size: 18px;
        position: fixed;
        right: 23px;
        top: 18px;
        z-index: 1;
      }
    
      .logo-mobile{
        position: fixed;
        left: 23px;
        top: 12px;
      }
    
      .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        background-image: url("../images/bg-menu-mobile.jpg");
        background-size: cover;
        background-color: $gray;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        .link-sidebar {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 14px;
          color: $white;
          display: block;
          text-align-last: left;
          &:hover{
            color: $white!important;
          }
        }
        .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
        }
    
        .-footer{
          position: absolute;
          bottom: 80px;
          padding: 8px 8px 8px 32px;
        .copy{
            color: $white;
            font-weight: 300;
            color: #5d5d5d;
            left: 30px;
            bottom: 30px;
        }
    
        .phone{
            color: $white;
            right: 190px;
            bottom: 30px;
            span{
                font-weight: 700;
            }
        }
    
        .mail{
            color: $white;
            right: 440px;
            bottom: 30px;
            span{
                font-weight: 700;
            }
          }
        }
    
        .-social-networks{
          padding: 8px 8px 8px 32px;
          position: absolute;
          bottom: 0;
          li{
            .link-social{
              color: $white;
              border: 1px solid $white;
              text-align: center;
              width: 35px;
              height: 35px;
              line-height: 35px;
              display: block;
              @include border-radius(50%);
            }
          }
        }
      }
}


@mixin gradient-animation($color1, $color2,){
        background: linear-gradient(-45deg, $color1, $color2);
        background-size: 400% 400%;
        -webkit-animation: Gradient 15s ease infinite;
        -moz-animation: Gradient 15s ease infinite;
        animation: Gradient 15s ease infinite;

        @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
        }


        @-moz-keyframes Gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
        }


        @keyframes Gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}


