################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Framework/v16
/src/mensagens/Mensagens.Infrastructure/obj/Debug
