
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DrAdriano Template 2</title>
    <link href="~/Css/CssDrAndrianoTempDois.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 back" style="margin:0; padding:0">
                    <div class="col-md-8 col-sm-8 mTop">
                    </div>
                    <div class="col-md-4 col-sm-4 fTrans" style="margin-top:20%;">
                        <p class="sobreL text-center">SaúdeCom.Vc</p>
                        <p class="sobreT">DR. ADRIANO ALMEIDA</p>
                        <p class="sobreTexto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Feugiat nisl pretium fusce id velit ut tortor. Sed tempus urna et pharetra pharetra massa massa ultricies mi. Hendrerit gravida rutrum quisque non tellus orci. Egestas diam in arcu cursus euismod. Pulvinar elementum integer enim neque. Cras ornare arcu dui vivamus arcu felis. Volutpat odio facilisis mauris sit amet. Faucibus in ornare quam viverra. Molestie a iaculis at erat. Nam libero justo laoreet sit amet cursus. Quis enim lobortis scelerisque fermentum dui faucibus in ornare quam. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Viverra maecenas accumsan lacus vel facilisis volutpat. Velit ut tortor pretium viverra suspendisse potenti nullam ac. Et netus et malesuada fames ac turpis egestas.</p>
                        <table style="width:100%;" class="margingTable">
                            <tr>
                                <td class="margfoo"><img src="~/Icons/facebook.png" /><a href="#" class="link"> dradrianoalmeida</a></td>
                                <td class="margfoo"><img src="~/Icons/instagram.png" /><a href="#" class="link"> dradrianoalmeida</a></td>
                                <td class="margfoo"><img src="~/Icons/twitter.png" /><a href="#" class="link"> dradrianoalmeida</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 consultorios" style="margin:0; padding:0">
                    <h1 class="text-center">Conheça o consultório</h1>
                    <table class="tableF">
                        <tr>
                            <td>
                                <img src="~/Img/quais-sao-as-principais-caracteristicas-do-mobiliario-para-consultorio-medico.jpeg" class="consul" />
                            </td>
                            <td>
                                <img src="~/Img/quais-sao-as-principais-caracteristicas-do-mobiliario-para-consultorio-medico.jpeg" class="consul" />
                            </td>
                            <td>
                                <img src="~/Img/quais-sao-as-principais-caracteristicas-do-mobiliario-para-consultorio-medico.jpeg" class="consul" />
                            </td>
                            <td>
                                <img src="~/Img/quais-sao-as-principais-caracteristicas-do-mobiliario-para-consultorio-medico.jpeg" class="consul" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Img/quais-sao-as-principais-caracteristicas-do-mobiliario-para-consultorio-medico.jpeg" class="consul" />
                            </td>
                            <td>
                                <img src="~/Img/quais-sao-as-principais-caracteristicas-do-mobiliario-para-consultorio-medico.jpeg" class="consul" />
                            </td>
                            <td>
                                <img src="~/Img/quais-sao-as-principais-caracteristicas-do-mobiliario-para-consultorio-medico.jpeg" class="consul" />
                            </td>
                            <td>
                                <img src="~/Img/quais-sao-as-principais-caracteristicas-do-mobiliario-para-consultorio-medico.jpeg" class="consul" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center tituloBlog"> BLOG do Adriano</p>
                    <table class="tableBlog">
                        <tr>
                            <td style="width:20%;">
                                <img src="~/Img/Antes-e-depois-de-pessoas-que-emagreceram-em-um-programa-de-TV-1.jpg" class="imgBlog" />
                            </td>
                            <td>
                                <p class="tableTitulo">Lorem</p>
                                <p class="tableConteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis tortor dictum, tristique ex eget, rhoncus felis. Fusce eget nisl sed risus consectetur placerat a eu lacus. Nunc neque urna, blandit a facilisis commodo, scelerisque id lorem. Aliquam at lobortis lacus, non lacinia urna. Maecenas et lorem id urna faucibus laoreet. Donec et orci ut urna commodo accumsan eu non lorem. Proin quis ligula dignissim</p>
                                <a href="#" class="tableLink">Saiba Mais...</a>
                            </td>
                        </tr>
                        <tr>
                            <td><br /></td>
                        </tr>
                        <tr class="tableTop">
                            <td style="width:20%;">
                                <img src="~/Img/Antes-e-depois-de-pessoas-que-emagreceram-em-um-programa-de-TV-1.jpg" class="imgBlog" />
                            </td>
                            <td>
                                <p class="tableTitulo">Lorem</p>
                                <p class="tableConteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis tortor dictum, tristique ex eget, rhoncus felis. Fusce eget nisl sed risus consectetur placerat a eu lacus. Nunc neque urna, blandit a facilisis commodo, scelerisque id lorem. Aliquam at lobortis lacus, non lacinia urna. Maecenas et lorem id urna faucibus laoreet. Donec et orci ut urna commodo accumsan eu non lorem. Proin quis ligula dignissim</p>
                                <a href="#" class="tableLink">Saiba Mais...</a>
                            </td>
                        </tr>
                        <tr>
                            <td><br /></td>
                        </tr>
                        <tr class="tableTop">
                            <td style="width:20%;">
                                <img src="~/Img/Antes-e-depois-de-pessoas-que-emagreceram-em-um-programa-de-TV-1.jpg" class="imgBlog" />
                            </td>
                            <td>
                                <p class="tableTitulo">Lorem</p>
                                <p class="tableConteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis tortor dictum, tristique ex eget, rhoncus felis. Fusce eget nisl sed risus consectetur placerat a eu lacus. Nunc neque urna, blandit a facilisis commodo, scelerisque id lorem. Aliquam at lobortis lacus, non lacinia urna. Maecenas et lorem id urna faucibus laoreet. Donec et orci ut urna commodo accumsan eu non lorem. Proin quis ligula dignissim</p>
                                <a href="#" class="tableLink">Saiba Mais...</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </header>
    <footer>
        <div class="container margf">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3 ">
                    <hr />
                    <img src="~/Img/Screenshot_16.png" />
                    <p>Copyright&copy;2001-2019 - SaudeCom.Vc. Todos Direitos reservado</p>
                </div>
                <div class="col-md-3">
                    <hr />
                    <table style="width:30%">
                        <tr>
                            <td class="margfoo"><a href="#" class="link"><img src="~/Icons/facebook.png" /></a></td>
                            <td class="margfoo"><a href="#" class="link"><img src="~/Icons/instagram.png" /></a></td>
                            <td class="margfoo"><a href="#" class="link"><img src="~/Icons/twitter.png" /></a></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-3">
                    <hr />
                    <div class="form-group">
                        <label for="email">Deseja receber nossa newsletter?</label><br />
                        <button type="button" class="btn btn-success">Sim</button>
                        <button type="button" class="btn btn-danger">Não</button>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
