#header-cadastro-medico{
    @include menu(1);
    .top-bar{
        text-align: center;
        background-image: url("../images/bg-top-bar.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        .box{
            padding: 95px 0;
        }
        .-title{
            text-transform: uppercase;
            font-size: 2em;
            .text-book{
                font-size: .8em;
            }
        }
    }
}

section#cadastro-medico{
    .add_field_button{
        cursor: pointer;
        padding: 9px 16px;
        border: 0;
        color: $white;
        @include gradient-animation($green, $blue); 
        @include border-radius(5px);
    }
    .box{
        position: relative;
        top: -70px;
        z-index: 1;
        padding: 60px;
        background-color: $white;
        -webkit-box-shadow: 0px -2px 39px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px -2px 39px 0px rgba(0,0,0,0.15);
        box-shadow: 0px -2px 39px 0px rgba(0,0,0,0.15);
        @include border-radius(25px);
        .bootstrap-tagsinput {
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            display: inline-block;
            padding: 4px 6px;
            color: #555;
            vertical-align: middle;
            border-radius: 4px;
            width: 100%;
            line-height: 22px;
            cursor: text;
            input {
            border: none;
            box-shadow: none;
            outline: none;
            background-color: transparent;
            padding: 0 6px;
            margin: 0;
            width: auto;
            max-width: inherit;
            }
            &.form-control input {
            &::-moz-placeholder {
                color: #777;
                opacity: 1;
            }
            &:-ms-input-placeholder, &::-webkit-input-placeholder {
                color: #777;
            }
            }
            input:focus {
            border: none;
            box-shadow: none;
            }
            .badge {
            margin: 3px 2px;
            padding: 5px 8px;
            @include gradient-animation($green, $blue); 
            [data-role="remove"] {
                margin-left: 8px;
                cursor: pointer;
                &:after {
                content: "×";
                padding: 0px 4px;
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                font-size: 13px;
                }
                &:hover {
                &:after {
                    background-color: rgba(0, 0, 0, 0.62);
                }
                &:active {
                    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                }
                }
            }
            }
        }
    }
}