#header-noticias{
    @include menu(1);
    .top-bar{
        text-align: center;
        background-image: url("../images/bg-top-bar.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        .box{
            padding: 150px 0;
        }
        .-title{
            text-transform: uppercase;
            font-size: 2em;
            .text-book{
                font-size: .8em;
            }
        }
    }
}

section#section-noticias-01{
    .box{
        position: relative;
        top: -150px;
        z-index: 1;

        .avatar{
            .form-paciente{
                text-align: right;
                display: block;
            }
        }
    }

    #sidebar-2{
        position: relative;
        top: -150px;
        .photo-mask{
            position: relative;
            text-align: center;
            margin-top: 40px;
            &:after{
                content: '';
                position: absolute;
                top: 50%;
                left: 8px;
                z-index: -1;
                margin: -60px auto;
                width: 120px;
                height: 120px;
                @include gradient-animation($green, $blue);  
                @include border-radius(50%);
            }
            .photo{
                width: 100px;
                height: 100px;
                @include border-radius(50%);
            }
        }
        .name{
            margin-top: 15px;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            span{
                font-weight: bold;
                font-size: 13px;
            }
        }
    }

    .-news{
        margin-top: 30px;
        .img-news{
            @include border-radius(25px);
        }
    }
    /* .scrollpane { height: 700px; overflow: auto; width: 100%; }
    .loading { color: red; } */

    @media(max-width: $screen-xs-max){
        .box{
            padding: 30px;
            .-title{
                text-align: center;
            }
            .avatar{
                .form-paciente{
                    text-align: center;
                }
            }
        }
      
    }
}