#header-sobre{
    @include menu(1);
    .top-bar{
        text-align: center;
        background-image: url("../images/bg-top-bar.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        .box{
            padding: 95px 0;
        }
        .-title{
            text-transform: uppercase;
            font-size: 2em;
            .text-book{
                font-size: .8em;
            }
        }
    }
}

section#section-sobre-01{
    padding-bottom: 50px;
    .video {
      @include border-radius(25px);
      overflow: hidden;
      z-index: 1;
      height: 500px;
      width: 100%;
    }
  
    .-title{
      line-height: 27px;
    }
  
    @media(max-width: $screen-xs-max){
      .-title{
        margin-top: 30px;
      }
    }
  }