
@{
    ViewBag.Title = "Termos de uso do sistema";
}

    <p>Sit rebum consectetuer tation dolor consectetuer dolor nostrud dolore vero rebum velit qui sadipscing exerci eros diam labore vero eirmod Diam dolor takimata ipsum dignissim magna diam at labore ut ut gubergren est odio et accusam blandit justo gubergren sanctus ipsum sed clita accumsan ipsum duo sed sea praesent diam in eleifend accusam vero diam lorem et iriure sed ipsum sanctus dignissim et gubergren nonumy est labore dolor stet diam sadipscing odio vero sit ut clita aliquyam sed amet invidunt ipsum ipsum at sed eros lorem eirmod aliquyam magna duo delenit eirmod erat iriure lorem sit illum dolor labore luptatum molestie et suscipit no diam et laoreet et eirmod lorem iriure elitr amet eirmod kasd lorem amet sit dolores lorem ut lorem vel justo et aliquyam tincidunt erat dolor ea ut sed rebum justo dolor takimata dolor kasd nonummy facilisi facilisis qui elitr nulla feugait erat sadipscing diam qui sit eos sit ea ea amet dolore nibh tempor placerat diam kasd imperdiet justo lorem lorem ea erat diam tempor eirmod diam et ut tation laoreet stet clita sea consetetur invidunt duis vulputate diam est dolore magna eros eirmod justo at stet eu esse diam ea dolores sit nam eos facilisis quod et lorem dolore et nonumy vulputate elitr vero clita justo dolore elitr suscipit aliquyam eos duo rebum vero labore</p>

