@model SaudeComVoce.Models.LoginViewModel


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="~/Css/loginHome.css" media="screen" />
    <title>Esqueceu senha</title>
</head>

<body>
    <div class="container">
        @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { style = "margin-top:10%" }))
        {
            <form action="index.html" method="post">
                <a href="@Url.Action("TelaLogin", "Login")">Voltar</a>
                <h1>
                    Recuperar senha
                </h1>
                <div class="form-content">

                    @Html.TextBoxFor(l => l.Login, new { id = "email", @class = "form-control txt", type = "email", placeholder = "Email" })
                    @if (TempData["Message"] != null && !string.IsNullOrEmpty(TempData["Message"].ToString()))
                    {
                        <span class="label label-success">@TempData["Message"].ToString()</span>
                    }
                    <br />
                    <input type="submit" class="button" value="Enviar" />
                    <br />
                </div>
            </form>
        }
    </div>
    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/loginHome.js"></script>
    <script src="~/Scripts/pages/modais.js"></script>
</body>
</html>
