
@{
    ViewBag.Title = "_TelDoctor";
}
<div class="modal fade bs-example-modal-lg" id="modalTelDoctor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg rounded" role="document" style="background-color:white">        
        <div class="form col-md-12" style="padding-top:5%; padding-bottom:5%;">
            <div class="col-md-12">
                    <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-6">
                            <img src="https://en.teldoctor.com.br/wp-content/themes/odin-master/assets/img/img1.png" class="center" style="width:80%;" />
                        </div>
                    </div>
                <h1 class="text-center">Redirecionamento para TelDoctor</h1>
            </div>
            <br />
            <p class="text-center" style="font-size:24px;">Em <b><span id="countdown"></span></b> segundos você sera redirecionado para a TelDoctor, para que seja possivel realizar a consulta</p>
            <div class="col-md-12 fade" id="redirecionar">
                <p>Caso não tenha sido redirecionado,<a href="https://teldoctor.com.br/" target="_blank">Clique Aqui</a></p>
            </div>
        </div>
    </div>
</div>

