
@{
    ViewBag.Title = "_News";
}

    <div class="modal fade bs-example-modal-lg" id="modalNews" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="form col-md-12" style="padding-top:5%; padding-bottom:5%;">
                <div class="col-md-12">
                    <h4>Entre com seu email para receber novidades em sua caixa de mensagens!</h4>
                    <br />
                    <input type="text" class="form-control txt" placeholder="Email" />
                    <br />
                    <div class="col-md-3">
                        <input type="button" class="btn btn-success" style="width:100%" value="Enviar" />
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <input type="button" class="btn btn-danger" style="width:100%" value="Fechar" onclick="fecharNews()" />
                    </div>
                </div>              
            </div>
        </div>
    </div>
