@{Layout = null}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/steps.css">
    <title>Passo 1 - Cadastro inicial</title>
    <style>
        .form-group {
            margin-bottom: 2%;
        }
    </style>
</head>

<body>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#paciente">
        Passo 1 - Cadastro inicial
    </button>

    <div class="modal fade" id="paciente" tabindex="-1" role="dialog" aria-labelledby="registroTitle" aria-hidden="true"
        style="font-size:13px">
        <div class="modal-dialog modal-lg" role="document">
            @*@if (@TempData["convite"] != null && !string.IsNullOrEmpty(TempData["convite"].ToString()))
            {
            <input type="hidden" id="token" value="@TempData[" convite"]" />
            }*@
            <div class="modal-content">
                <div class="modal-header" style="padding-bottom:1%; padding-top:1%">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ficha do Paciente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body body-others" style="padding-top:1%; padding-bottom:1%;">
                    <form name="form1">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="nome">Nome Completo</label>
                                <input type="email" class="form-control" id="nome">
                                <!-- <span class="off" id="lblNome">*Obrigatório</span> -->
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="cpf">CPF</label>
                                <input type="text" class="form-control" id="cpf" onBlur="ValidarCPF(form1.cpf);"
                                    onKeyPress="MascaraCPF(form1.cpf);" maxlength="14">
                                <!-- <span class="off" id="lblCpf">*Obrigatórioo</span> -->
                            </div>
                            <div class="form-group col-md-6">
                                <label for="datanascimento">Data de nascimento</label>
                                <input type="date" class="form-control" id="datanascimento">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">E-mail</label>
                                <input type="text" class="form-control" id="email" onfocusout="validarEmail()">
                                <!-- <span class="off" id="lblEmail">*Obrigatório</span> -->
                            </div>
                            <div class="form-group col-md-6">
                                <label for="confirmarEmail">Confirmar E-mail</label>
                                <input type="text" class="form-control" id="confirmarEmail"
                                    onfocusout="validarCEmail()">
                                <!-- <span class="off" id="lblConfirmarEmail">*Obrigatório</span> -->
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="senha">Senha</label>
                                <input type="password" class="form-control" id="senha">
                                <!-- <span class="off" id="lblSenha">*Obrigatório</span> -->
                            </div>
                            <div class="form-group col-md-6">
                                <label for="confirmarSenha">Confirmar senha</label>
                                <input type="password" class="form-control" id="confirmarSenha">
                                <!-- <span class="off" id="lblConfirmarSenha">*Obrigatório</span> -->
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="senha">Dica de senha</label>
                                <input type="text" class="form-control" id="dicaSenha">
                                <!-- <span class="off" id="lblSenha">*Obrigatório</span> -->
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="ckbTermos">
                                <label class="form-check-label" for="ckbTermos">
                                    Você aceita os <a href="/Termos/Index" target="_blank">Termos de Uso do Sistema?</a>
                                </label>
                                <span class="off" id="lblTermos">*Obrigatório</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="defaut-btn-back" onClick="carregaModalEscolha()">Voltar</a>
                    <a href="#" class="defaut-btn-gradient" onclick="cadastrarPaciente()"
                        id="btnCadastrar">Cadastrar</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>